extends layout
block content
    script(src="#{baseUrl}/javascripts/cota.js")
    include bars/mainBar.jade
    include bars/secondBar.jade
    include cota/perfPopup.jade
    include cota/riskPopup.jade
    include cota/cotaTable.jade