extends layout
block content
  script(src="#{baseUrl}/javascripts/login.js")
  include bars/mainBar.jade
  include bars/secondBar.jade
  include login/recoveryPopup.jade
  include login/signUpPopup.jade
  include login/loginForm.jade