extends layout
block content
    include bars/mainBar.jade
    include bars/secondBar.jade
    h1 Stats (Work in progress)
    //- p Admin: #{stats.sessionCountAdmin}
    //- p Manager: #{stats.sessionCountManager}
    //- p Buyer: #{stats.sessionCountBuyer}