#spend-zone.form-zone
    #spend-form.form.shadow
        #spend-form-header.form-header #{__("spend-coverage")}
        .form-item
            #spend-input
                input(type="number" id="revenue-input" name="revenue" value=campaignRevenue required)
                #percentage-sign %
            #recovery-text.form-text #{__("spend-coverage-text")}