table#selection-table.table2
    thead
        tr
            th#supplier-header
                .header2
                    .header2-text Supplier
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2
                    .filters2-input
                        .search-button(id="vendorname-search-button" class="search-button") <i class="fa-solid fa-magnifying-glass"></i>
                        input(type="text" id="vendorname-search" class="search" placeholder="Search")
                        .delete-button <i class="fa-solid fa-xmark"></i>
            th#mdm-header
                .header2
                    .header2-text MDM Code
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2
                    .filters2-input
                        .search-button(id="mdmcode-search-button" class="search-button") <i class="fa-solid fa-magnifying-glass"></i>
                        input(type="text" id="mdmcode-search" class="search" placeholder="Search")
                        .delete-button <i class="fa-solid fa-xmark"></i>

            th#team-header
                .header2
                    .header2-text Division
                .filters2
                    .filters2-buttons
                        .filters2-button WB
                        .filters2-button SE
                        .filters2-button LGI
            th#perf-header
                .header2
                    .header2-text Perf. scope
                .filters2
                    .filters2-buttons
                        .filters2-button <i class="fas fa-check-square ticked-checkbox"></i>
                        .filters2-button <i class="far fa-square"></i>
            th#risk-header
                .header2
                    .header2-text Risk Scope
                .filters2
                    .filters2-buttons
                        .filters2-button <i class="fas fa-check-square ticked-checkbox"></i>
                        .filters2-button <i class="far fa-square"></i>
            th#spend-header
                .header2
                    .header2-text Spend
                    .header2-order
                        i.fa-solid.fa-sort
                .filters2
                    .filters2-input
                        .search-button <i class="fa-solid fa-magnifying-glass"></i>
                        input(type="text" placeholder="Min.")
                        .delete-button  <i class="fa-solid fa-xmark"></i>
            th#previous-surveillance-header
                .header2
                    .header2-text Previous monitoring level
                .filters2
                    .filters2-buttons
                        .filters2-button 1
                        .filters2-button 2
                        .filters2-button 3
                        .filters2-button 4                        
            th#reason1-header
                .header2
                    .header2-text NPI / Critical product 1 / Reach impact
                .filters2                
                    .filters2-buttons
                        .filters2-button <i class="fas fa-check-square ticked-checkbox"></i>
                        .filters2-button <i class="far fa-square"></i>
            th#reason2-header
                .header2
                    .header2-text HIE / SE / Weak signal
                .filters2                
                    .filters2-buttons
                        .filters2-button <i class="fas fa-check-square ticked-checkbox"></i>
                        .filters2-button <i class="far fa-square"></i>
            th#reason3-header
                .header2
                    .header2-text New / Change of organization / Agree
                .filters2                
                    .filters2-buttons
                        .filters2-button <i class="fas fa-check-square ticked-checkbox"></i>
                        .filters2-button <i class="far fa-square"></i>
            th#reason4-header
                .header2
                    .header2-text Involved in targeted strategy
                .filters2
                    .filters2-buttons
                        .filters2-button <i class="fas fa-check-square ticked-checkbox"></i>
                        .filters2-button <i class="far fa-square"></i>
            th#comment-header
                .header2
                    .header2-text Comment
                .filters2                

            th#history-header
                .header2
                    .header2-text History
                .filters2
    tbody
