#recovery-overlay.overlay
    #recovery-popup.popup
        .popup-bar
            .popup-title #{__("pass_recovery")}
            .popup-close(data-target-id="recovery-overlay")
                i.fa-solid.fa-circle-xmark
        #recovery-popup-body-wrapper
            #recovery-popup-body
                #recovery-text.form-text #{__("recovery_text")}
                .form-flex-wrapper
                    #recovery-form.form
                        .form-item
                            input(type="text" id="recovery-mail" name="mail" placeholder=__('mail') required)
                        #recovery-message.message.not-visible None
                        #recovery-submit.submit
                            #recovery-submit-button.submit-button #{__("submit")}
           