#perf-overlay.overlay
    #perf-popup.popup
        .popup-bar
            .popup-title GRP-0132
            .popup-close(data-target-id="perf-overlay")
                i.fa-solid.fa-circle-xmark
        table#perf-table.form-table
            thead
                tr
                    th Question
                    th Answer
                    th Comment
                    th Last answer
                    th Last comment
            tbody
                tr 
                    td C1 - Les prix du fournisseur sont compétitifs par rapport aux prix des autres fournisseurs du panel / du marché ?
                    td
                        input(type="radio" class="answer" name="pc1" id="pc1-yes" value="yes")
                        label(for="yes") Yes 
                        span cd = 30
                        br
                        input(type="radio" class="answer" name="pc1" id="pc1-no" value="no")
                        label(for="no") No 
                        span cd = 0
                    td 
                        textarea(class="comment" name="pc1" rows="4" cols="30" id="pc1-comment")
                    td
                    td
                tr 
                    td C2.1 - Le fournisseur baisse ses prix d’une année sur l’autre ?
                    td
                        input(type="radio" class="answer" name="pc21" id="pc21-yes" value="yes")
                        label(for="yes") Yes 
                        span ce1 = 30
                        br
                        input(type="radio" class="answer" name="pc21" id="pc21-no" value="no")
                        label(for="no") No 
                        span ce1 = 0
                    td 
                        textarea(class="comment" name="pc21" rows="4" cols="30" id="pc21-comment")
                    td
                    td
                tr 
                    td C2.2 - Le fournisseur ne dénonce pas les prix ?
                    td
                        input(type="radio" class="answer" name="pc22" id="pc22-yes" value="yes")
                        label(for="yes") Yes 
                        span ce2 = 30
                        br
                        input(type="radio" class="answer" name="pc22" id="pc22-no" value="no")
                        label(for="no") No 
                        span ce2 = 0
                    td 
                        textarea(class="comment" name="pc22" rows="4" cols="30" id="pc22-comment")
                    td
                    td                    
                tr 
                    td C2.3 - Le fournisseur propose des actions visant à réduire les coûts
                    td
                        input(type="radio" class="answer" name="pc23" id="pc23-yes" value="yes")
                        label(for="yes") Yes 
                        span ce3 = 30
                        br
                        input(type="radio" class="answer" name="pc23" id="pc23-no" value="no")
                        label(for="no") No 
                        span ce3 = 0
                    td 
                        textarea(class="comment" name="pc23" rows="4" cols="30" id="pc23-comment")
                    td
                    td
                tr 
                    td C3.1 - Le fournisseur accepte les règles standards de Safran (application des CGA, pénalités, …) 
                    td
                        input(type="radio" class="answer" name="pc31" id="pc31-yes" value="yes")
                        label(for="yes") Yes 
                        span cs1 = 30
                        br
                        input(type="radio" class="answer" name="pc31" id="pc31-no" value="no")
                        label(for="no") No 
                        span cs1 = 0
                    td 
                        textarea(class="comment" name="pc31" rows="4" cols="30" id="pc31-comment")
                    td
                    td
                tr 
                    td C3.2 - Le fournisseur donne une bonne visibilité sur la décomposition de ses coûts (part des matières premières, de la main d’œuvre, de l’outillage, des amortissements … dans son coût de production)
                    td
                        input(type="radio" class="answer" name="pc32" id="pc32-yes" value="yes")
                        label(for="yes") Yes 
                        span cs2 = 30
                        br
                        input(type="radio" class="answer" name="pc32" id="pc32-no" value="no")
                        label(for="no") No 
                        span cs2 = 0
                    td 
                        textarea(class="comment" name="pc32" rows="4" cols="30" id="pc32-comment")
                    td
                    td                    
                tr 
                    td C3.3 - Les litiges de cause fournisseur sont inexistants ou faciles à traiter et en petit nombre (litiges facturation…)
                    td
                        input(type="radio" class="answer" name="pc33" id="pc33-yes" value="yes")
                        label(for="yes") Yes 
                        span cs3 = 30
                        br
                        input(type="radio" class="answer" name="pc33" id="pc33-no" value="no")
                        label(for="no") No 
                        span cs3 = 0
                    td 
                        textarea(class="comment" name="pc33" rows="4" cols="30" id="pc33-comment")
                    td
                    td                    